@model IEnumerable<SZZP2._2.Models.ADUser>

@{
    ViewData["Title"] = "Index";
}

<h2>Uzytkownicy Active Directory</h2>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Surname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateEmployment)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndContract)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Office)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Surname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateEmployment)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndContract)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Office.IDOffice)
            </td>
        </tr>
}
    </tbody>
</table>
