@model IEnumerable<SZZP2._2.Models.ADUser>

@{
    ViewData["Title"] = "Index";
}

<div class="top-buffer"></div>
<div class="panel panel-primary">
    <div class="panel-heading panel-head">Użytkownicy Active Directory</div>
    <div class="panel-body">
        <table class="table table-striped table-responsive table-condensed">
            <thead>
                <tr style="font-size:13px" class="small text-left">
                    <th>
                        @Html.DisplayNameFor(model => model.NrSap)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Surname)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.DateEmployment)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.EndContract)
                    </th>

                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr style="font-size:13px" class="small text-left">
                        <td>
                            @Html.DisplayFor(modelItem => item.NrSap)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Surname)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DateEmployment)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.EndContract)
                        </td>

                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>