@model SZZP2._2.Models.Department

@{
    ViewData["Title"] = "Delete";
}

<h2>Usuwanie wydziału</h2>

<h3>Masz zamiar trwale usunąć wydział z bazy danych!</h3>
<div>

    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NameDepartment)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NameDepartment)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SymbolDeprtament)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SymbolDeprtament)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Offices)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Offices.NameOffice)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="IDDepartment" />
        <input type="submit" value="Usuń" class="btn btn-danger" /> |
        <a asp-action="Index" class="btn btn-primary">Powrót do listy</a>
    </form>
</div>
