@model SZZP2._2.Models.Employment

@{
    ViewData["Title"] = "Delete";
}

<h2>Usuwanie wpisu</h2>

<h3>Zamierzasz trwale usunąć wpis z bazy danych!</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt style="text-align:left">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt style="text-align:left">
            @Html.DisplayNameFor(model => model.Surname)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Surname)
        </dd>
        <dt style="text-align:left">
            @Html.DisplayNameFor(model => model.NrSap)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NrSap)
        </dd>
        <dt style="text-align:left">
            @Html.DisplayNameFor(model => model.DateEmployment)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DateEmployment)
        </dd>
        <dt style="text-align:left">
            @Html.DisplayNameFor(model => model.EndContract)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EndContract)
        </dd>
        <dt style="text-align:left">
            @Html.DisplayNameFor(model => model.Offices.NameOffice)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Offices.NameOffice)
        </dd>
        @*<dt style="text-align:left">
                @Html.DisplayNameFor(model => model.Offices.Departments)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Offices.Departments)
            </dd>*@
        <dt style="text-align:left">
            @Html.DisplayNameFor(model => model.IDPosition)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Positions.NamePosition)
        </dd>
        <dt style="text-align:left">
            @Html.DisplayNameFor(model => model.IDStatus)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Statuses.NameStatus)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="IDEmployment" />
        <input type="submit" value="Usuń" class="btn btn-danger" /> |
        <a asp-action="Index" class="btn btn-primary">Powrót do listy</a>
    </form>
</div>
