@model SZZP2._2.Models.SZZPViewModels.EmploymentIndexData

@{
    ViewData["Title"] = "Index";
}

<h2>Lista nowo zatrudnionych pracowników</h2>

<p>
    <a asp-action="Create" class="btn btn-primary">Dodaj nowego pracownika</a>
</p>
<table class="table table-striped table-responsive">
    <thead>
        <tr class="small text-left">
            <th>Imię</th>
            <th>Nazwisko</th>
            <th>NrSap</th>
            <th>Data Zatrudnienia</th>
            <th>Koniec umowy</th>
            <th>Biuro</th>
            <th>Wydział</th>
            <th>Stanowisko</th>
            <th>Status</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Employments) {
        <tr class="small">
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Surname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NrSap)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateEmployment)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndContract)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Offices.NameOffice)
            </td>
            <td>
               <!-- -->
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Positions.NamePosition)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Statuses.NameStatus)
            </td>

            <td>
                <a asp-action="Edit" class="btn btn-success" asp-route-id="@item.IDEmployment">Edycja</a> |
                <!--<a asp-action="Details" class="btn btn-info" asp-route-id="@item.IDEmployment">Szczegóły</a> |-->
                <a asp-action="Delete" class="btn btn-danger" asp-route-id="@item.IDEmployment">Usuń</a>
            </td>
        </tr>
}
    </tbody>
</table>
